body{
    font-family: 'Raleway', sans-serif;
}

main{
    width: 75%;
    margin: auto;

}

h1 {
    font-size: 50px;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    margin-bottom: 25px;
    width: 100%;
    background-color: darkblue;
}

.center-text{
    margin: 35px 0;
    text-align: center;
}

.input-choice{
    border: 1px slategray solid;
    background-color: whitesmoke;
}

form{
    padding: 15px;
}

#search-history{
    background-color: #c4ebe5;
    border: 1px slategray solid;
    padding: 0px;
}

#history-text {
    padding: 15px;
    text-align: center;

}

.search-p {
    cursor: pointer;
    margin: 10px 20px;
    font-size: 18px;
    line-height: 100%;
    transition: color .25s;
}



.search-p:hover {
    color: red;
}

#today-weather-data{
    display: none;
    border: 1px slategray solid;
    background-color:#c0d46a;
    padding: 25px;

}

.data-text{
    font-size: 20px;
    line-height: 100%;
}


.data-change{
    font-weight: 600;
}

#five-day-forcast {
    display: none;
}


.weather-forcast{ 
    background-color: #c6bee8 ;
    border: 2px black solid;
    margin: 25px 0;
    font-size: 16px;
    word-wrap: break-word;
}

