body{
    font-family: 'Raleway', sans-serif;
}

main{
    margin: 50px;
}

h1 {
    font-size: 50px;
    color: darkslategray;
    font-family: 'Lato', sans-serif;
}

.center-text{
    margin: 50px 0;
    text-align: center;
}

.input-choice{
    border: 1px slategray solid;
    border-radius: 20px;
    background-color: whitesmoke;
}

#today-weather-data{
    border-radius: 20px;
    border: 1px black solid;
}

form{
    padding: 15px;
}

#or{
    font-size: 25px;
    font-weight: 500;
}